@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* ---------------HOMEPAGE--------------- */

body.homepage {
  background-color: white;
  margin: 0px auto;
  padding: 1em;
  text-align: center;
  border: 1em solid #a20eff;
  border: 1em solid #a20eff;
  margin: 1em;
  max-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

div.conatiner-homepage {
  margin: 3em;
  background-color: white;
  opacity: 8;
  padding: 1em;
}

nav.game-page a {
  color: #a20eff;
  background-color: white;
  font-size: 40px;
  padding: 1em;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #a20eff;
  border-radius: 15px;
  box-shadow: #a20eff 15px 12px 0px 0px;
  margin-top: 150px;
}

.home-box1 {
  width: 100px;
  height: 500px;
  background-color: #a20eff;
  margin-left: 92px;
}

#social-media img {
  width: 50px;
  height: 50px;
  margin-top: 1.2em;
  color: white;
}


h1.tictactoe-purple {
  font-family: 'Bungee Shade', cursive;
  position: relative;
  padding: 1em;
  padding-bottom: 0;
  font-size: 60px;
  margin: 0 auto;
  display: table-caption;
  color: #a20eff;
  margin-left: 0.3em;
}

/* -------------TIC-TAC-TOE-------------- */

*, *: :before, *: ::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1.tictactoe {
  font-family: 'Bungee Shade', cursive;
  position: relative;
  padding: 1em;
  padding-bottom: 0;
  font-size: 60px;
  margin: 0 auto;
  display: table-caption;
  color: white;
  margin-left: 0.3em;
}

.container-players h2 {
  font-family: 'Bungee Outline', cursive;
  color: white;
  margin: 0.8em;
  margin-bottom: 60px;
  display: inline-block;
  width: 227px;
  border: 1px solid white;
  padding: 0.5em;
  font-size: 35px;
  background: black;
  box-shadow: blue 15px 10px;
}

.container-players {
  position: relative;
  text-align: center;
}

.board {
  margin: 0 auto;
  width: 60vh;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  border: 1px solid white;
  background-color: black;
  box-shadow: pink 20px 15px;
}

.scoreboard-container ul {
  text-align: center;
  font-family: 'Bungee Outline', cursive;
  color: white;
  margin: 3em;
  margin-left: auto;
  border: 1px solid white;
  padding: 0.5em;
  font-size: 39px;
  box-shadow: yellow 15px 15px;
  list-style-type: none;
  margin-top: -450px;
  width: 350px;
  background-color: black;
}

.container {
  height: 1200px;
  border: 1px solid white;
  margin: 1em;
  background-color: black;
}

.button-container button {
  display: block;
  text-align: center;
  font-family: 'Bungee Outline', cursive;
  color: white;
  padding: 0.5em;
  font-size: 39px;
  box-shadow: crimson 15px 10px;
  background: black;
  margin-top: -100px;
  width: 320px;
  border-radius: 50px;
}

button {
  outline: none;
}

.playgame, .newgame {
  margin: -5.5em;
  margin-left: 150px;
  transition: transform .2s;
}

.playgame:hover, .newgame:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

#main-gameboard {
  transition: transform 2s;
}

.flip-board {
  perspective: 1000px;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: inline-block;
  text-align: center;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:first-child,
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:last-child {
  border-bottom: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:last-child {
  border-right: none;
}

.X, .O {
  font-size: 60px;
  line-height: 95px;
  color: white;
}
