*, *: :before, *: ::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.board {
  margin: 0 auto;
  width: 100vh;
  height: 100vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  border: 1px solid black;
}

.container {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
  border-top: none;
}

.box:first-child,
.box:nth-child(4),
.box:nth-child(7) {
  border-left: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:last-child {
  border-bottom: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:last-child {
  border-right: none;
}

board .box.active
